.btnOpenModal {
    font-size: x-large;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

hr {
    border: 0px;
    border-top: 3px solid lightgray;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    justify-content: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.514);
}

.modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 30%;
}

.active {
    display: flex;
}

.active .modal {
    animation: modal .4s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

span {
    margin: 10px auto;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btns button {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.botao-editar {
    cursor: pointer;
}

.btnOK {
    background-color: rgb(10, 10, 255) !important;
}

.btnClose {
    background-color: brown !important;
}

@media (max-width: 500px) {
    .modal {
        width: 80%;
        padding: 10px;
    }

    span, .btns button {
        font-size: smaller;
    }
}