@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* Variáveis de cores */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --background-color: #f8f9fa;
  --dialog-bg-color: #fff;
  --dialog-overlay-color: rgba(0, 0, 0, 0.5);
  --font-color: #343a40;
  --border-radius: 8px;
  --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.q-card {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: #fff;
  width: 100%;
}

.q-card-section {
  margin: 8px;
  padding: 16px;
}

.screenTitle {
  font-size: 24px;
  font-weight: bold;
  color: #324960;
}

.bg-grey {
  background: #eeeeee !important;
}

/* Sistema de grid responsivo */
.row {
  display: flex;
  /* Usamos flexbox para o layout de linhas */
  margin: 0 -15px;
  /* Margem negativa para compensar o padding das colunas */
  flex-wrap: wrap;
  justify-content: center;
  color: black;
}

.row-disciplinas {
  flex-wrap: nowrap;
  margin: 0 50px 0 50px;
}

.disc-lista {
  /* estiliza lista */
  list-style: none;
  padding: 0;
  margin: 0;
  user-select: none;
}

.disc-lista li {
  width: 50%;
}

.disc-lista li:hover {
  color: #324960;
  cursor: pointer;
}

.btn-disciplina-modal {
  position: absolute;
  right: 27px;
  bottom: 120px;
}

.filter-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.col {
  padding: 15px 15px 15px 5px;
  /* Espaçamento interno das colunas */
  box-sizing: border-box;
  /* Inclui padding e border no cálculo da largura total */
}

.col-xs-12 {
  flex: 0 0 100%;
}

.col-xs-6 {
  flex: 0 0 50%;
}

.col-xs-4 {
  flex: 0 0 33.33%;
}

.col-xs-3 {
  flex: 0 0 25%;
}

@media (min-width: 9px) {

  /* Small devices (sm) */
  .col-sm-12 {
    flex: 0 0 100%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
  }

  .col-sm-4 {
    flex: 0 0 33.33%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
  }
}

@media (min-width: 768px) {

  /* Medium devices (md) */
  .col-md-12 {
    flex: 0 0 100%;
  }

  .col-md-6 {
    flex: 0 0 50%;
  }

  .col-md-4 {
    flex: 0 0 33.33%;
  }

  .col-md-3 {
    flex: 0 0 25%;
  }
}

@media (min-width: 992px) {

  /* Large devices (lg) */
  .col-lg-12 {
    flex: 0 0 100%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
  }

  .col-lg-4 {
    flex: 0 0 33.33%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
  }

  .col-lg-2 {
    flex: 0 0 16.66%;
  }

  .col-lg-2 {
    flex: 0 0 8.33%;
  }
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.column {
  flex-direction: column;
}

.input {
  font-weight: 500;
  letter-spacing: 0.00937em;
  border: none;
  background: #eeeeee;
  color: rgba(0, 0, 0, 0.87);
  padding: 12px 0px;
  padding-left: 10px;
  width: 100%;
  outline: 0 !important;
  border-radius: 8px;
}

.inputProfessional {
  font-weight: 500;
  letter-spacing: 0.00937em;
  border: none;
  background: #eeeeee;
  color: rgba(0, 0, 0, 0.87);
  padding: 12px 10px 12px 10px;
  width: 270px;
  margin: 10px;
  outline: 0 !important;
  border-radius: 8px;
}

.jobSelect {
  font-weight: 500;
  letter-spacing: 0.00937em;
  border: none;
  background: #eeeeee;
  color: rgba(0, 0, 0, 0.87);
  padding: 12px 10px 12px 10px;
  width: 270px;
  outline: 0 !important;
  border-radius: 8px;
}

.inputPassword {
  font-weight: 500;
  letter-spacing: 0.00937em;
  border: none;
  background: #eeeeee;
  color: rgba(0, 0, 0, 0.87);
  padding: 12px 0px;
  padding-left: 10px;
  width: 100%;
  outline: 0 !important;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* CSS */
.btn {
  background-color: #324960;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
  /* Ajuste a opacidade para 50% ao passar o mouse */
}

/* Estilo do overlay do dialog */
.dialog-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dialog-overlay-color);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Animações */
.dialog-overlay.fade-in {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Caixa de diálogo */
.dialog-box {
  background-color: var(--dialog-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 400px;
  position: relative;
}

.btn-success {
  background-color: var(--success-color);
  border: none;
  border-radius: 12px;
  text-align: center;
  color: white;
  padding: 12px;
  cursor: pointer;
}

.btn-default {
  background-color: #324960;
  border: none;
  border-radius: 12px;
  text-align: center;
  color: white;
  padding: 12px;
  cursor: pointer;
}

.btn-danger {
  background-color: var(--danger-color);
  border: none;
  border-radius: 12px;
  text-align: center;
  color: white;
  padding: 12px;
  cursor: pointer;
}

.btn-danger:hover,
.btn-success:hover,
.btn-edit:hover,
.btn-delete:hover {
  opacity: 0.5;
  /* Ajuste a opacidade para 50% ao passar o mouse */
}

.btn-edit {
  background-color: #324960;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 6px;
  height: 36px;
  cursor: pointer;
}

.btn-delete {
  background-color: var(--danger-color);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 6px;
  height: 36px;
  cursor: pointer;
}

table {
  width: 100%;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table th {
  border-right: 1px solid #ccc;
}

.fl-table th:last-child {
  border: none;
}

.fl-table td {
  border: 1px solid #ccc;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #d8d7d7;
}

.gap-sm {
  gap: 5px;
}

.gap-xl {
  gap: 25px;
}

.btn-password {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#materia-atividade {
  font-size: 20px;
  font-weight: 500;
  color: #324960;
}

.entrega-verde {
  color: green;
}

.entrega-vermelha {
  color: red;
}

.btn-disciplinas, .btn-participantes {
  border-radius: 8px;
  border: none;
  background-color: #324960;
  color: #ffffff;
  padding: 6px;
  height: 36px;
  cursor: pointer;
}

.btn-disciplinas:hover, .btn-participantes:hover {
  background-color: #2a3b4d;
}