* {
  font-family: "Segoe UI", Tahoma, Helvetica, Sans-Serif;
}
body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.drawer {
  width: 16rem;
  background-color: #2d3748;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  z-index: 20;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.drawer.open {
  transform: translateX(0);
}

.drawer-header {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}

.drawer-nav {
  flex: 1;
}

.drawer-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: end;
  gap: 8px;
}

.drawer-link-out {
  margin-top: auto;
}

.drawer-link:hover {
  background-color: #4a5568;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 0;
}

.header {
  height: 80px;
  width: 100%;
  background-color: #39b6fe;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 19;
}

.limit {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #606060;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  max-width: 1500px;
  min-width: 1000px;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.listaMenuPrincipal {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #606060;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  display: flex;
  margin-right: 5px;
  height: 80px;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.itemMenu {
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(to top, white 50%, #39b6fe 50%);
  background-size: 100% 200%;
  transition: background-position 0.4s ease-out;
  color: white;
}

.itemMenu:hover {
  background-position: 0 75%;
  color: #606060;
}

.link {
  color: inherit;
  transition: color 0.5s ease;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  color: #606060;
}

.user-btn {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 9px 8px 9px 9px;
  color: #fff;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3em;
  background-color: rgba(0, 0, 0, 0.2);
  width: unset;
  margin-left: auto;
}

.user-btn:hover {
  background-color: #2c5282;
}

.menu-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-buttons {
  display: flex;
}

.header-button {
  background-color: #2b6cb0;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  cursor: pointer;
  color: white;
  border: none;
}

.header-button:hover {
  background-color: #2c5282;
}

.content-area {
  padding: 2rem;
  overflow-y: auto;
}

.content-title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content-text {
  margin-bottom: 1rem;
}

/* CSS for screens larger than 1080px */
@media (min-width: 1081px) {
  .drawer {
    display: none;
  }

  .main-content {
    margin-left: 0;
  }
}

/* CSS for screens larger than 1080px */
@media (min-width: 1081px) {
  .drawer {
    display: none;
  }

  .main-content {
    margin-left: 0;
  }

  .menu-button {
    display: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/* CSS for screens up to 1080px */
@media (max-width: 1080px) {
  .drawer {
    width: 16rem;
    background-color: #2d3748;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    z-index: 20;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .btn-orange {
    position: static;
  }
  .height {
    height: 300px;
  }
  .drawer.open {
    transform: translateX(0);
  }
  .listaMenuPrincipal {
    display: none;
  }
  .user-btn {
    display: none;
  }
  .flex {
    width: 100%;
    justify-content: space-between;
  }
  .menu-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .header-buttons {
    display: none;
  }
  .header-button {
    display: none;
  }
  .limit {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.form-title {
  margin-bottom: 20px;
  text-align: center;
}

.form-container {
  margin-bottom: 20px;
}

#school-form .form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
  margin-top: 1%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 400px;
  max-height: 37px;
}

button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th {
  background-color: #39b6fe;
  color: #fff;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border: 1px solid #ddd;
}

.edit-btn,
.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.edit-btn {
  color: #ffc107;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.delete-btn {
  color: #dc3545;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.delete-btn:hover {
  background-color: #dc3545;
}

.edit-btn:hover {
  background-color: #28a745;
}

button:hover {
  background-color: #236833;
}
